DEV=false
PORT=8000
# Database configuration
DB_ENGINE=sqlite
## SQLITE settings
DATABASE_PATH=./database.db
# Initial admin user password (used only if no users exist)
## It is reccommended to pass this via environment variable at first launch,
## as opposed to storing it in plaintext here.
## You will be forced to change this password on first login
INITIAL_ADMIN_PASSWORD=admin123
# Authentication settings
JWT_SECRET_KEY=your_secret_key_here
## Whether or nor you have SSL configured for your deployment.
## If you do not have SSL configured, set this to false.
## The default is true for security reasons.
## Refresh tokens will not work if SSL_ENABLED is true but you do not have SSL Enabled.
SSL_ENABLED=true